<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKING APPOINMENT APP</title>
    <link rel="stylesheet" href="styel.css">
</head>
<body>
    <h1>BOOKING APPOINEMENT</h1>
    <form onsubmit="handleFormSubmit(event)">
        <label for="name">NAME : </label>
        <input type="text" id="name" name="name">
        <label for="email">EMAIL : </label>
        <input type="email" id="email" name="email">
        <label for="phone">PHONE : </label>
        <input type="tel" id="phone" name="phone">
        <br><br>
        <button type="submit">SUBMIT</button>
    </form>
    <br>
    <hr>
    <ul class="ul"></ul>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="index.js"></script>
</html>